<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinNUT_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <WinNUT_Client.Properties.Settings>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LG_LogToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LG_LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UP_CheckAtStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UP_AutoChkDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UP_Branch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UP_LastCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="PW_BattChrgFloor" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PW_RuntimeFloor" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PW_Immediate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PW_RespectFSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PW_StopType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PW_StopDelaySec" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PW_UserExtendStopTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PW_ExtendDelaySec" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="NUT_ServerAddress" serializeAs="String">
                <value>nutserver host</value>
            </setting>
            <setting name="NUT_ServerPort" serializeAs="String">
                <value>3493</value>
            </setting>
            <setting name="NUT_UPSName" serializeAs="String">
                <value>UPS name</value>
            </setting>
            <setting name="NUT_PollIntervalMsec" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NUT_AutoReconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CAL_VoltInMin" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="CAL_VoltInMax" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="CAL_FreqInNom" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CAL_FreqInMin" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CAL_FreqInMax" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CAL_VoltOutMin" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="CAL_VoltOutMax" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="CAL_LoadMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAL_LoadMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CAL_BattVMin" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CAL_BattVMax" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </WinNUT_Client.Properties.Settings>
    </userSettings>
</configuration>
